[submodule "MDX"]
	path = MDX
	url = git@github.com:SublimeText/MDX.git
[submodule "Sass"]
	path = Sass
	url = git@github.com:SublimeText/Sass.git
[submodule "protobuf-syntax-highlighting"]
	path = protobuf-syntax-highlighting
	url = https://github.com/VcamX/protobuf-syntax-highlighting.git
[submodule "rust-enhanced"]
	path = rust-enhanced
	url = git@github.com:rust-lang/rust-enhanced.git
[submodule "sublime-nix"]
	path = sublime-nix
	url = git@github.com:wmertens/sublime-nix.git
[submodule "sublime-json5"]
	path = sublime-json5
	url = https://github.com/bschwind/sublime-json5.git
[submodule "sublime-yarn-lock"]
	path = sublime-yarn-lock
	url = https://github.com/alexkuz/sublime-yarn-lock.git
[submodule "GraphQL"]
	path = GraphQL
	url = https://github.com/graphql-python/GraphQL-SublimeText.git
[submodule "DotENV"]
	path = DotENV
	url = https://github.com/nathan-appere/Sublime-DotENV.git
[submodule "Dockerfile"]
	path = Dockerfile
	url = https://github.com/jaytaylor/Dockerfile.sublime-syntax.git
[submodule "TOML"]
	path = TOML
	url = https://github.com/lmno/TOML.git
[submodule "Vue"]
	path = Vue
	url = https://github.com/vuejs/vue-syntax-highlight.git
[submodule "TailwindCSS"]
	path = TailwindCSS
	url = https://github.com/SublimeText/TailwindCSS.git
